body {
    display: flex;
    background: linear-gradient(0deg, #0033aa, #00aaff);;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 1rem;
    color: #0033aa;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #26ABE1;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.login-container button:hover {
    background-color: #0033aa;
}

.login-container a {
    display: block;
    margin-top: 1rem;
    color: #00aaff;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-container a:hover {
    text-decoration: underline;
    color: #0033aa;
}